.container {
  margin: 2rem auto;
  max-width: 40rem;
}

.title {
  text-align: center;
  text-decoration: underline;
}

.addItemForm {
  display: flex;
  justify-content: space-between;

  border: 2px solid #555;
  border-radius: 8px;

  padding: 12px 2px;
}

input {
  padding: 4px;
}
.item {
  /* border: 1px solid red; */
}

.priceQty {
  /* border: 1px solid red; */
}

.addItemForm label {
  margin-left: 8px;
}

label[for='item'] {
}

input[name='item'] {
  width: 250px;
}

input[name='quantity'],
input[name='price'] {
  width: 50px;
}

input[name='price'] {
  margin-right: 12px;
}

/* .submitButton {
  text-align: right;
  margin-right: 12px;
  padding: 0.5rem 0;
} */

.buttons {
  padding: 8px 12px;
  border: none;
  width: 100%;
  border-radius: 4px;

  text-align: center;
  margin-top: 12px;
}

.submit {
  background-color: #ff6969;
  color: white;
}

.submit:hover {
  background-color: #ff8f8f;
}
